footer(class="mt-auto text-center text-white-50")
    p Created by 
        a(href="https://github.com/nbiada" target="_blank" class="text-white") Nicola Biada
        |. Fork me on 
        a(href="https://github.com/nbiada/vercel-cors-proxy" target="_blank")
            img(src="github-mark-white.svg" style="height: 1rem")
